* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    font-family: "Caveat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    height: 100vh;
    background: linear-gradient(rgb(65, 102, 82), rgb(86, 143, 197));
}

.coming-soon {
    font-size: 12vw;
    color: rgb(203, 213, 221);
}

.phone {
    font-size: 6vw;
    color: rgb(84, 166, 233);
}
